body {
  background-color: #fec7d7;
}
li {
  list-style-type: none;
}
.nav {
  display: block;
  padding: 12px;
  text-decoration: none;
  width: 200px;
  font-family: "Proza Libre";
}
h1 {
  font-family: "Proza Libre";
}
p {
  color: #0e172c;
}
footer {
  background-color: #d9d4e7;
}
header {
  background-color: #d9d4e7;
}
